.post-details {
	.row {
		font-size: 100%;
		h1 {
			font-size: 150%;
		},
		h2 {
			font-size: 130%;
		}		
		p {
			font-size: 120%;
		}
		footer {
			font-size: 100%;
			font-family: Lora, "Times New Roman", serif;
			font-style: italic;
			color: $gray;
		}
	}
	.comments {
		@include clear-list;
		font-size: 90%;
		li {
			background-color: $gray-lighter;
			margin: .5em 0;
			padding: 1em;
			footer {
				text-align: right;
			}		
		}
	}
	textarea {
		resize: none;
	}
}

@media (min-width: $screen-sm-min) {
	.post-details {
		.row {
			font-size: 120%;
		}
	}
}

@media (min-width: $screen-md-min) {
	.post-details {
		.row {
			font-size: 140%;
		}
	}
}

@media (min-width: $screen-lg-min) {
	.post-details {
		.row {
			font-size: 160%;
		}
	}
}